<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="columns is-multiline is-mobile">

      <div class="column is-one-third">

      </div>

      <div class="column is-half">


                <div class="field">
                  <div class="control">

                    <%= f.file_field :avatar %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.label :firstname %><br />
                  <%= f.text_field :firstname, autofocus: true , placeholder:"e.g Alex" , class:"input"%>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.label :lastname %><br />
                    <%= f.text_field :lastname , placeholder:"e.g Smith" , class:"input" %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"e.g. alexsmith@gmail.com", class:"input" %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" , class:"input"%>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
                  </div>
                </div>

                <div class="actions">
                  <%= f.submit "Sign up", class:"button is-black" %>
                </div>
            <% end %>

            <%= render "devise/shared/links" %>

        </div>
</div>
