
<% @products.each do |product| %>
    <div class="column is-one-quarter">
        <div class="card large mouse">
       <div class="card-image" v-on:mouseover="mouseover(<%= product.price %>, <%= product.id %>)"
              v-on:mouseleave="mouseleave(<%= product.id %>)"><p style="padding-left:40%;" id="<%= product.id %>"> </p>
                  <figure class="image">
                  <%= image_tag product.Image.url%>
                  </figure>
              </div>
            <div class="card-content bg-black hover:bg-blue"  v-bind:style="{backgroundColor: bgColor}">

                <div class="content category-title" >
                <%= link_to product.title, product,{ :class => "category-title", :style => 'color:#fff' }%>
                </div>
            </div>

        </div>
    </div>

    <% end %>


    <script>
      // var app = new Vue ({
      //   el: '#app'
      //   data: {
      //       bgColor:"#CCC"
      //   }
      // })
    </script>



    <script src='https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js'></script>
    <script>
    new Vue({
        el: '#mouse',
        data: {
          message: ""
        },
        methods: {
          mouseover: function(price, id){
            document.getElementById(id).innerHTML = 'Price: ' + price
          },
          mouseleave: function(id){
            document.getElementById(id).innerHTML = ''
          }
        }
      })
    </script>
