<div class="columns is-multiline is-mobile">
  <div class="column  is-one-third">
  <%= paginate @products %>
  </div>
  <div class="column is-one-quarter">

  </div>

  <div class="column search-product is-one-third">
    <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
    <% end %>
  </div>

  </div>

<div class="row columns">

<%= render partial: "product" %>
</div>

