
<div class="columns is-multiline is-mobile">
  <div class="column  is-one-quarter">
  <%= paginate @products , theme: 'twitter-bootstrap-4',
  pagination_class: "pagination-sm",
  nav_class: "d-inline-b" %>
  </div>
  <div class="column is-one-quarter">

  </div>

  <div class="column is-half">

  <%= form_for Search.new do |f| %>
    <span>
      <%= f.text_field :keywords %>
    </span>
    <span>
      <%= f.collection_select :category_id, Category.order(:name), :id, :name,  include_blank: true %>
    </span>
    <span>
      <%= f.label :min_price, "Price Range:" %>
      <%= f.text_field :min_price, size: 10 %> -
      <%= f.text_field :max_price, size: 10 %>
    </span>
    <span class="actions"><%= f.submit "Search", class:"button is-info" %></span>
  <% end %>
  </div>



<div class="row columns">

<%= render partial: "product" %>
</div>

