
<div class="container">
<%= render_breadcrumbs :separator => ' / ' %>
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title"><%= @product.title  %></p>
                            </div>
                        </div>
                        <div class="media-center">
                        <%= image_tag @product.Image.medium2.url, class:"center" %>
                        </div>
                        <div class="content article-body">
                            <p><%= @product.description  %></p>
                            <b>Price: <%= number_to_currency @product.price  %></b>
                            <%= form_tag order_items_path do %>
                                <%= hidden_field_tag :price, @product.price %>
                                <%= hidden_field_tag :product_id, @product.id %>
                                <%= number_field_tag :quantity , 1 %>
                                <%= submit_tag "Add to Cart" %>
                            <% end %>

                        </div>
                    </div>
                </div>